## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [2]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [3]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [4]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [5]:
# Use this space to do any additional research
# and familiarize yourself with the data.
df.head(10)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
5,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,1327730,2023-05-02,18,2023,BMB23158-88-9A,decor,plants,172.84,154.44,2.79,78,0
6,Brian,Moore,Barista,+1-893-400-2733x982,moore.official@martinez.com,87213,8080280,2023-04-19,16,2023,UAC50632-25-4E,consumables,kitchen supplies,245.56,231.95,1.73,56,5
7,Jesus,Wright,Theme park manager,605.947.9467x66513,wright.jesus.7579@meadows.com,46709,8946782,2023-02-14,7,2023,UEU25316-01-1U,consumables,pens,20.99,16.97,5.12,22,4
8,Rebecca,Brown,Chiropodist,665-955-0156x926,rbrown850@lewis.info,73362,9394118,2023-05-13,19,2023,DDA06248-98-7Z,consumables,paper products,83.86,59.00,0.27,49,3
9,Greg,Garcia,"Secretary, company",(231)342-7216x1421,ggarcia@bentley.biz,58789,9665852,2023-04-14,15,2023,DUU85042-87-5E,furniture,seating,66.88,54.15,2.47,78,1

In [6]:
# What three item categories had the most entries?
df.nunique()
#order ID, qty, and phone, email and client_id are tied for third.

first            360
last             477
job              498
phone            999
email            999
client_id        999
order_id       10000
order_date       150
order_week        23
order_year         2
item_id          500
category           5
subcategory       18
unit_price       490
unit_cost        487
unit_weight      393
qty             2911
line_number       10
dtype: int64

In [7]:
# For the category with the most entries, which subcategory had the most entries?
most_entries = df['order_id']
most_entries.value_counts().idxmax()

4397975

In [49]:
# Which five clients had the most entries in the data?
most_entries = df['client_id']
most_entries.value_counts()
#Client 33615, 66037, 46820, 383378, and 24741 had the most entries

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
        ...
70734      4
32001      4
77583      3
76017      3
94987      1
Name: count, Length: 999, dtype: int64

In [8]:
# Store the client ids of those top 5 clients in a list.
top_5 = [33615, 66037, 46820, 383378, 24741]

[33615, 66037, 46820, 38378, 24741]

In [56]:
# How many total units (the qty column) did the client with the most entries order order?
total = df[['qty', 'client_id']].value_counts()
total
# Client 46820 ordered the greatest quantity

qty      client_id
27       46820        7
24       43607        7
39       46820        6
17       51869        6
18       46820        6
                     ..
59       85139        1
         85977        1
         86106        1
         86810        1
3958244  78965        1
Name: count, Length: 45615, dtype: int64

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [58]:
df[['qty', 'unit_price']].value_counts()

qty      unit_price
19       9.17          8
33       45.68         7
52       7.98          7
23       42.60         7
21       485.97        7
                      ..
71       7.01          1
         6.77          1
         5.91          1
         5.70          1
3958244  147.66        1
Name: count, Length: 42987, dtype: int64

In [12]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df = df.assign(Subtotal=df['qty'] * df['unit_price'])
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31

In [16]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
def calculate_ship_price(unit_weight):
    if unit_weight > 50:
        return 7
    else:
        return 10
    
df['shipping price'] = df['unit_weight'].apply(calculate_ship_price)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal,shipping price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,10
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95,10
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28,10
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18,10
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29,10
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,10
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,10
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76,10
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31,10

In [18]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df['total'] = df['Subtotal'] + df['shipping price'] * 1.0925

df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal,shipping price,total
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,10,115174.925
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,10,534.875
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,10,538.205
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,10,1067.105
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,10,3912.925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,software,logistics,83.13,51.60,2.25,33,8,2743.29,10,2754.215
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,10,9720.655
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,10,31199.425
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,furniture,stands,1.48,1.22,18.04,112,0,165.76,10,176.685
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,software,project management,3.01,1.61,2.07,1031,5,3103.31,10,3114.235

In [20]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df['line cost'] = df['unit_cost'] * df['qty']
df['total per order'] = df['line cost'] + df['shipping price']
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal,shipping price,total,line cost,total per order
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,10,115174.925,80084.55,80094.55
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,10,534.875,316.89,326.89
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,10,538.205,306.54,316.54
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,10,1067.105,720.65,730.65
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,10,3912.925,2163.40,2173.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,83.13,51.60,2.25,33,8,2743.29,10,2754.215,1702.80,1712.80
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,206.59,175.46,11.70,47,0,9709.73,10,9720.655,8246.62,8256.62
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,65.66,57.31,4.16,475,6,31188.50,10,31199.425,27222.25,27232.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.48,1.22,18.04,112,0,165.76,10,176.685,136.64,146.64
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,3.01,1.61,2.07,1031,5,3103.31,10,3114.235,1659.91,1669.91

In [22]:
# Create a column for the profit of each line using line cost and line price
df['profit'] = df['line price'] - df['line cost']
df

KeyError: 'line price'

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [29]:
# Check your work using the totals above
receipt = df[df['order_id'] == 2742071]

receipt1 = df[df['order_id'] == 2173913]

receipt2 = df[df['order_id'] == 6128929]

receipt
receipt1
receipt2
# none of the numbers match up

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal,shipping price,total,line cost,total per order
3422,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,13.25,11.75,7.61,671,3,8890.75,10,8901.675,7884.25,7894.25
13672,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,136.49,90.12,7.05,40,6,5459.60,10,5470.525,3604.80,3614.80
14517,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,107.61,98.35,6.28,1089,9,117187.29,10,117198.215,107103.15,107113.15
16295,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,78.18,42.72,0.78,44,8,3439.92,10,3450.845,1879.68,1889.68
21141,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,28.12,23.64,4.60,26,2,731.12,10,742.045,614.64,624.64
37265,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,1.63,1.14,6.00,45,1,73.35,10,84.275,51.30,61.30
37949,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,931.60,470.05,6.55,344,0,320470.40,10,320481.325,161697.20,161707.20
38542,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,6.09,5.50,1.38,8,4,48.72,10,59.645,44.00,54.00
48834,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,137.01,98.70,0.55,664,5,90974.64,10,90985.565,65536.80,65546.80
49353,Dorothy,Hall,"Journalist, broadcasting",001-338-609-8495x03504,dorothy.per.1343@mitchell-chambers.com,88257,6128929,2023-03-12,10,2023,...,84.96,72.54,4.26,1663,7,141288.48,10,141299.405,120634.02,120644.02

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [16]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.

33615: $8377308.52
66037: $10259514.79
46820: $9743794.36
38378: $12906550.87
24741: $82268892.02

In [17]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit.

   client_id     qty  shipping_price   line_price    line_cost  line_profit
0      33615   64313      1828984.89   8377308.52   6175313.91   2201994.61
1      66037   43018      1395151.85  10259514.79   7004482.98   3255031.81
2      46820   75768      1601448.84   9743794.36   7007191.64   2736602.72
3      38378   73667      3429455.40  12906550.87   9634720.98   3271829.89
4      24741  239862      5126448.37  82268892.02  45688899.71  36579992.31

In [18]:
# Format the data and rename the columns to names suitable for presentation.

# Define the money columns. 


# Define a function that converts a dollar amount to millions.


# Apply the currency_format_millions function to only the money columns. 


# Rename the columns to reflect the change in the money format.

,Client ID,Units,Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
0,33615,64313,1.828985,8.377309,6.175314,2.201995
1,66037,43018,1.395152,10.259515,7.004483,3.255032
2,46820,75768,1.601449,9.743794,7.007192,2.736603
3,38378,73667,3.429455,12.906551,9.634721,3.271830
4,24741,239862,5.126448,82.268892,45.688900,36.579992

In [19]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.

,Client ID,Units,Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
4,24741,239862,5.126448,82.268892,45.688900,36.579992
3,38378,73667,3.429455,12.906551,9.634721,3.271830
1,66037,43018,1.395152,10.259515,7.004483,3.255032
2,46820,75768,1.601449,9.743794,7.007192,2.736603
0,33615,64313,1.828985,8.377309,6.175314,2.201995